<p id="notice"><%= notice %></p>

<div class='margin_every'>
  <h2>
    <b>题目:</b>
    <%= @blog.title %>
  </h2>
  <h3></br></h3>

  <b>正文:</b>
  <h3></br></h3>
  <div class='blog_context'>
    <%= @blog.context.html_safe %>
  </div>

  </br>
  </br>
  </br>
</div>
<div class='comments-item-bd'>

  <iframe src='/comments?blog_id=<%=@blog.id%>' id='comment_page' style='width:1000px;height:1500px;overflow:hidden;'>

  </iframe>
</div>
<%= link_to '编辑', edit_blog_path(@blog),:class => 'btn btn-small' %> 
<%= link_to '返回列表', blogs_path,:class => 'btn btn-small' %>

<style type='text/css'>
 .blog_context{ /*博文内容样式*/
    width:1000px;
    height:800px;
    overflow:auto;
    background-color: #FFFFCC;
  }
</style>

