<div id="render_comment">
  <%@comments.each do |comment|%>
    <div class='comments-item-bd'>

      <div class='ui-avatar'>
        <img src='<%= comment.user.user_information.attachment_image.attachment_image.url if comment.user %>' width='50px' height='50px'> &nbsp;&nbsp;&nbsp;
      </div>

      <div class='comments-content'>

        <%= comment.user.try(:username)%>&nbsp;&nbsp;&nbsp;&nbsp;
        <div style='margin-left:60px;width:940px;word-break:break-all; overflow:auto;'>:&nbsp;<B><%= comment.context.html_safe%></B></div>
        <span>&nbsp;</span>
        <div class='pull-right'>
        <span class=" ui-mr10 state"> <%=comment.updated_at.strftime("%H:%M:%S").to_s%></span>
        <span><%= link_to '回复','#'%>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span>Tables</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>11</li>
            <li>22</li>
          </ul>
        </span>
      </div>

      </div>

    </div>
    </br>
  <%end%>

  </br>
  </br>

  <br />
  <div class = 'pull-left '>
    <div class="page_info">
      <span>共&nbsp;<%= @comments.total_pages %>&nbsp;页</span>
      <span>共&nbsp;<%= @comments.total_entries%>&nbsp;条评论</span>    
    </div>
    <%if @comments.total_pages != 1 %>
      <div class="apple_pagination">
        <%= will_paginate @comments, :container => false, :previous_label => '上一页', :next_label => '下一页' %>
      </div>
    <%end%>
  </div>
  </br>
  </br>
  </br>
  </br>

  <div class='pull-left'>
    <%=form_tag comments_path(:blog_id => @blog.id, :user_id => current_user.id) ,{:method => :post}  do |f| %>
      </br>
      <%= kindeditor :comment, :context,:width => '50',:height => '40',:simple_mode => true%>
      </br>
      <%= submit_tag '确定',:class => 'btn btn-small'%>
    <%end%>
  </div>

</div>
<style type="text/css">
</style>

