<script type='text/css'>
  .site-wrapper {
    display: table;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  }
  .ctl{table-layout:fixed}

  .ctl td{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding:2px}
</script>

<body style='background-image:url(/assets/8f456ccc38721f2c4318a5f7049f8.jpg);background-attachment: fixed;color:white; overflow:scoll;background-size: 100%;'>

  <div class="site-wrapper"style='margin:auto;opacity: 0.9;margin-right:190px;margin-left:16px;margin-top:100px;margin-bottom:40px'>
    <div class="row-fluid">
      <div class='span1'>
        <div class="pinned note-container" style="width: 262px; left: 1200px; top: 10px; position: fixed;opacity: 0.5;background-size: 100%;"</div>
        <div class='note' style="color:black;margin-top: 90px;width: 200px;transform: rotate(-6deg);text-decoration: none;padding: 20px;font-size: 18px;display: block;background: none repeat scroll 0 0 #ffc;box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);">
          <h3>Blog ! !</h3>
          <p>如果你想新建一个博客</p>
          <p>记录生活的点点滴滴</p>
          <p>不妨点击这点试试</br><%=link_to'New',new_blog_path%></p>
        </div>
      </div>
    </div>

    <div class="span12">
      <% Blog.all.each do |blog|%>
        <div class="row-fluid">
          <div class="panel post tag-xin-ban-ben-fa-bu">
            <div class="preview-img">
              <a href = ''><img alt ='' src=''></a>
              <div class='post-context'style='color:#333;margin-left:20px;margin-top:20px;'>
                <h4 class='post-title'style='color:white'><%=link_to blog.title ,blog_path(blog),:method => :get%></h4>
                <div class="post-meta">
                  <span class="date">
                    <i class="icon-calendar"></i>
                    <%=blog.created_at.strftime("%Y-%m-%d")%>
                  </span>
                  <span class="comments">
                    <i class="icon-comments"></i>
                    <a href="#">5 评论</a>
                  </span>
                  <span class="tags">
                    <i class="icon-tag"></i>
                    <%if blog.tags.blank?%>
                      <%= '无标签'%>
                    <%else%>
                      <% blog.tag_list.each do |tag|%>
                        <%=link_to tag,blogs_url(tag: tag)%>
                      <%end%>
                    <%end%>
                  </span>
                  <span class="author">
                    <i class="icon-user"></i>
                    <%= blog.user.username if blog.user%>
                    <%= '匿名' if blog.user.blank?%>
                  </span>
                </div>
                <div class='post-text ctl'style='white-space:nowrap;overflow:hidden;text-overflow:ellipsis;'>
                  <p>
                  <%= blog.context.html_safe%> 
                  </p>
                </div>
              </div>
            </div>
          <section class="panel-footer post-meta">
          <div class="post-tags">
            <i class="fa fa-tags"></i>
            <a href="">查看更多请点击这里。。。</a>
          </div>
          </section>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
<div id="footer" style="margin-bottom:0px;opacity: 0.4;color:black;margin-right:500px;margin-left:16px;width:935px;">
  <p>
  FLAT - Responsive Admin Template <span class="font-grey-4">|</span> <a href="#">Contact</a> <span class="font-grey-4">|</span> <a href="#">Imprint</a> 
  </p>
  <a class="gototop" href="#"><i class="icon-arrow-up"></i></a>
</div>
</body>
