<link type="text/css" rel="stylesheet" media="all" href="/assets/style__not-minified.css?body=1" data-turbolinks-track="true">
<ul class="nav" >
  <li >
  <a href="/home/index">首页</a>
  </li>
  <li>
  <a href="/blogs">博客列表</a>
  </li>
  <li>
  <a href="#">联系我哟</a>
  </li>
</ul>
<span class="navbar-text pull-right" style="font-size: 14px">
  <% if user_signed_in? %>
    <ul class="icon-nav">
      <li class="dropdown sett">
      <a > 欢迎您!</a>

      </li>
      <li class="dropdown">
      <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-user"></i> <%= current_user.username %></a>
      <ul class="dropdown-menu pull-right">
        <li>
        <% if current_user.user_information %>
          <a href="/user_informations/<%=current_user.user_information.id%>">个人中心</a>
        <%else%>
          <a href="/user_informations/new">添加个人信息</a>
        <%end%>
        </li>
        <li>
        <%= link_to 'Logout', destroy_user_session_path, :style => "font-size: 14px" %>
        </li>
      </ul>
      </li>
    </ul>
  <%else%>
    <%= link_to '登陆', new_session_path(:user)%> &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to '注册', new_registration_path(:user) %>
  <% end %>
</span>
