<!DOCTYPE html>
<html>
  <head>
    <title>Diary</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link type="text/css" rel="stylesheet" media="all" href="/assets/style__not-minified.css?body=1" data-turbolinks-track="true">
    <script type="text/javascript" src="/assets/bootstrap.js?body=1" data-turbolinks-track="true">
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="navigation">
      <div class="user">
        <%=render 'layouts/header' unless params[:controller] == 'comments' %>
      </div>
    </div>
    <div class = 'containner-fluid'>
      <div class ='row-fluid'>

        <div class = 'span3'>


          <%unless params[:controller] =='comments' %>
            <div class='note' style="position:fixed;">
              <div  style='margin-top:40px;margin-left:10px;opacity: 0.9;'>
                <%=render 'layouts/include/include_clock'%><!--!加载时钟插件 --!>
              </div>
            </div>
          <%end%>

          <!--! 轮播插件--!>
          <% if params[:controller] == 'home'%>
            <div  style='margin-top:500px;margin-left:10px;opacity: 0.9;'>
              <%=render 'layouts/include/carousel'%> 
            </div>
          <%end%>

        </div> <!--!左侧边栏完毕 --!>

        <div class='span9'>
          <%= render "layouts/messages" %><!--!消息通知 --!>
          <%unless params[:controller] =='user_informations' %>
            <div class='container ' > 
            <%end%>
            <%=notice%>
            <%= yield %>
          </div>
        </div><!--!正文 --!>

      </div>
    </div>
  </body>
</html>
